:root
{
    --blue : #2C2546; 
    --dark-blue : #1B1535;
    --green : #00EB09; 
    --white : #fff; 
}

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: Tahoma
}

body
{
    background-color: var(--dark-blue);
    color: var(--white);
}

header
{
    text-align: center;
    background-color: var(--blue);
    position: fixed;
    width: 100%;
    font-weight: bold;
    padding: 2%;
    top: 0;
}

.title
{
    color: var(--green);
    border-bottom: 1px solid var(--white);
    font-size: 15pt;
}

.input-search
{
    width: 30%;
    border: none;
    border-radius: 0 0  10px;
    padding: 2px;
}

.input-submit
{
    margin-left: 2px;
    border: none;
    border-radius: 0 10px 0 0;
    padding: 2px;
    background-color: var(--green);
    color: var(--blue);
    width: 5%;
    font-weight: bold;
}

nav
{
    margin-top: 15px;
}

nav ul
{
    display: flex;
    gap: 20px;
    justify-content: center;
}

nav ul li a 
{
    color: var(--green);
}

nav ul li a:hover
{
    border-bottom: 3px solid var(--white);
}

.slider
{
    margin-top: 10%;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 65%;
}

.slider h4
{
    margin-top: 20%;
}

.slides
{
    display: flex;
    width: 50rem;
    overflow: hidden;
}

.slides img 
{
    border-radius: 10px;
}

.slide
{
    width: 50rem;
    transition: .5s;
}

.choose_1:checked ~ .slides > .s1
{
    margin-left: -0rem;
}

.choose_2:checked ~ .slides > .s1
{
    margin-left: -50rem;
}

.overlay 
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target 
{
    visibility: visible;
    opacity: 1;
}

.popup 
{
    margin: 70px auto;
    padding: 20px;
    background: var(--dark-blue);
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
  
.popup h2 {
    margin-top: 0;
    color: var(--white);
    font-family: Tahoma, Arial, sans-serif;
}

.title-p
{
    margin-left: 94px;
    margin-top: 50px;
    margin-bottom: 15px;

}
.populer
{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    li href
}

.populer img
{
    border-radius: 10px;
    margin-left: 1em;
    margin-right: 30px;
}

.mlbb img {
    border-radius: 30px;
}

.harga
{
    color: var(--green);

}

.link a
{
    color: var(--white);
}

.link a:hover
{
    color: var(--green);
}

.pesan
{
    background-color: var(--green);
    padding: 5%;
    border-radius: 10px;
}

.pesan:hover
{
    background-color: var(--white);
}

.pesan img
{
    width: 30px;
    margin-right: 5px;
    margin-top: 50px;
}

.tentang
{
    display: grid;
    justify-content: center;
    margin-top: 10%;
    font-size: 15pt;
    text-align: none;
}
 
.card
{
    background-color: var(--blue);
    padding: 20px;
    margin: 7em;
    border-radius: 10px;
    box-shadow: 10px 10px black;
}
 
.card h1
{
    text-align: center;

}
 
html
{
    scroll-behavior: smooth;
}

footer  
{
    display: grid;
    justify-content: center;
    background-color: var(--blue);
    margin-top: 10%;

}

.sosmed img {
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: none;
    border-radius: 24px;
    margin-left: 5px;
}

#copyright
{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
